<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade de monitoria</title>
</head>
<body>
    <form action="/nome" method="post" id="form1">
       <label>Digite seu nome:</label>
       <input type="text" name="Nome">
       <input type="submit" value="Enviar">
       </form>
       <h1><%=nome%></h1>
</body>
</html>