<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Código de Julia</title>
</head>
<script>
  function calculeX() {
    console.log(a.value)
    console.log(b.value)
    console.log(c.value)
    let x = b.value*c.value/a.value
    document.getElementById("resultado").innerHTML = "O valor de x é = "+x
  }
</script>
<body>
    <h1>Regra de 3</h1>
    <p>
        a ---- b<br>
        c ---- x
    </p>
    <form> 

        Digite a:
        <input type="number" name="n1" id="a"> 
        Digite b:
        <input type="number" name="n1" id="b"> 
        Digite c:
        <input type="number" name="n1" id="c"> 
        <input type="button" value="Calcule x" onclick="calculeX()">
    </form>
    <p id="resultado"></p>
</body>
</html>